// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters{
    text-align: center;
    font-size: 10px;
    margin-right: 30px;

    strong{
        display: block;
        font-size: 2em;
    }

    .votes, .status {
        width: 60px;
        height: 60px;
    }

    .views{ 
        margin-top: 10px;
    }

    .status{
        &.un-answered {
            border: none;
        }

        &.answered {
            border: 1px solid $green;
            color: $green;
        }

        &.answer-accepted {
            color: $white;
            background-color: $green;
        }

    }

    
}

.votes-control{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;

    span, a{
        display: block;
    }

    span{
        &.votes-count{
            font-size: 25px;
        }

        &.favorite{
            font-size: 12px;
        }
    }

    a{
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover{
            color: $gray-500;
        }

        &.favorite{
            &.favorited, &.favorited:hover{
                color: $warning;
            }
        }

        &.vote-accepted{
            color: $green;
        }
    }
}
